# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Debug
/Release
/StringTest

# Ignore CLion IDE files.
/.idea

# Ignore custom build dir.
/build
